@model KyivDigital.Business.Models.PagedFeedResponse

@foreach (var item in Model.Feed.Data)
{
    <div class="list-item" data-id="@item.Id">
        <div>
            <a href="#" data-abc="true">
                <span class="w-48 avatar gd-primary">
                    <img src="@item.Icon" alt="@item.Title">
                </span>
            </a>
        </div>
        <div class="flex">
            <a href="#" class="item-author text-color" data-abc="true">
                @if (item.IsRead)
                {
                    <strong>@item.Title</strong>
                }
                else
                {
                    <strong style="color: blue;">@item.Title •</strong>
                }
            </a>
            <div class="item-except text-muted text-sm h-1x">@item.Description</div>
        </div>
        <div class="no-wrap">
            <div class="item-date text-muted text-sm d-none d-md-block">@item.CreatedTimeTitle</div>
        </div>
    </div>
}