@inject KyivDigital.Business.Services.Interfaces.IHeadLineService headLineService
@inject KyivDigital.Business.Services.Interfaces.IClaimsProvider claimsProvider
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="~/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Київ Цифровий - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        .user-menu {
            margin-left: auto;
        }
    </style>
    <script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
@{
    var firstName = User.Claims.FirstOrDefault(x => x.Type == "FirstName")?.Value;

    KyivDigital.Business.Models.HeadLineModel headLine = null;
    if (User.Identity.IsAuthenticated)
        headLine = await headLineService.GetHeadLineAsync();

}
<body>
    <header class="p-3 mb-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none" title="home">
                    <img src="~/Picts/logo.svg" width="140" height="50" title="avatar" />
                </a>
                @if (User.Identity.IsAuthenticated)
                {
                    @*<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between"   >
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <p>@headLine.Weather.Temp℃</p>
                            </li>
                            <li class="nav-item">
                                @switch (headLine.Weather.Condition)
                                {
                                    case 0:
                                        {
                                            <img src="~/Picts/weather/sun.svg" width="30" height="30" />
                                            break;
                                        }
                                    case 1:
                                        {
                                            <img src="~/Picts/weather/cloud.svg" width="30" height="30" />
                                            break;
                                        }
                                    case 2:
                                        {
                                            <img src="~/Picts/weather/rain.svg" width="30" height="30" />
                                            break;
                                        }
                                    default:
                                        {
                                            <img src="~/Picts/weather/snow.svg" width="30" height="30" />
                                            break;
                                        }
                                }
                            </li>
                        </ul>
                    </div>*@

                    <div class="dropdown user-menu">
                        <a href="/" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false" title="home">
                            <img src="@claimsProvider.GetValueByType("Avatar")" width="40" height="40" class="rounded-circle" title="avatar" />
                        </a>
                        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser">
                            <li><a class="dropdown-item" asp-controller="Profile" asp-action="Index">Профіль</a></li>
                            <li><a class="dropdown-item" asp-controller="TravelCard" asp-action="Index">Транспортні картки</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="@Url.Action("Logout","Identity")">Вихід</a></li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - "Київ Цифровий"</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
